-# coding: utf-8
-# = stylesheet_link_tag "contacts"
.row
  .span4.offset4
    %span{:class => "label label-info"}
      = "计算机993班级共49人，已有#{@items.count}位同学加入通讯录"
%table.span12{:class => "table table-hover"}
  %thead
    %tr
      %th{:style => "width: 10%"} 姓名
      %th{:style => "width: 8%"} 电话
      %th{:style => "width: 15%"} 工作单位
      %th{:style => "width: 8%"} 城市
      %th{:style => "width: 20%"} 地址
      %th{:style => "width: 8%"} 邮编
      %th{:style => "width: 8%"} QQ
      %th{:style => "width: 5%"} eMail
      %th{:style => "width: 5%"} 微信
      %th{:style => "width: 5%"} 微博
      %th{:style => "width: 8%"} 操作
  %tbody
    - if @items
      - @items.each do |item|
        %tr
          %td
            = item.name
          %td
            = item.phone
          %td
            = item.company
          %td
            = item.city
          %td
            = item.address
          %td
            = item.post
          %td
            = item.qq
          %td
            = item.email
          %td
            = item.weixin
          %td
            = item.weibo
          - if current_account.name == item.name
            %td.span1
              %a{:href => "/contact/edit?id=#{item.id}"}编辑
              = link_to "删除", url(:contact, :delete, :id => item.id, :format => :js), :confirm => "确认删除?"

